@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

html {
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

.header {
    background-color: #1d3557;
    min-height: 80px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.main_container {
    height: 75%;
}

.side_and_chat_container {
    height: 100%;
    display: flex;
}

.chat_input_container {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message_input {
    min-width: 50vw;
}

.side_bar {
  min-height: 100%;
  flex-grow: .2;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.chat_box {
    height: 100%;
    flex-grow: 2;
    overflow-y: scroll;
}

/* chat messages  */
li {
    list-style: none;
}

/* input  */

.message_input {
    min-height: 50px;
}


/* porfile  */
.side_profile {
    display: flex;
    border-top: 1px solid black;
}

.profile_name {
    padding-left: 20px;
    align-self: center;
}

.profile_pic {
    border-right: 10px solid yellow;
    max-height: 101px;
}
.logo {
    margin: 0;
    padding: 0;
}